.day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  padding: 10px;
  height: 100px;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px darkgray;
  cursor: pointer;
}

.day:hover {
  background-color: #c3dfec;
}

.day + .currentDay {
  background-color:#c3dfec;
}

.filler {
  cursor: default !important;
  background-color: whitesmoke !important;
  box-shadow: none !important;
}

.appointment {
  font-size: 10px;
  padding: 2px;
  background-color: #5fbee7;
  color: white;
  border-radius: 5px;
  max-height: 50px;
  overflow: hidden;
}